POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=
DB_PORT=
DB_EXTERNAL_PORT=

NODE_ENV=
BACKEND_PORT=
FRONTEND_PORT=

DB_CONTAINER_NAME=
BACKEND_CONTAINER_NAME=
FRONTEND_CONTAINER_NAME=

NETWORK_NAME=
